name: cd

on:
  push:
    branches: [main]

jobs:
  deploy: 
    name: Deploy
    runs-on: ubuntu-latest
    env:
      NAMESPACE: ${{ secrets.DOCKER_NAMESPACE }}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
      
      - name: Build app
        run: ./scripts/buildprod.sh
